@font-face {
  font-family: 'Museo Cyrl 700';
  src: url("../fonts/MuseoCyrl/MuseoCyrl-700.woff") format("woff"), url("../fonts/MuseoCyrl/MuseoCyrl-700.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Cyrl 500';
  src: url("../fonts/MuseoCyrl/MuseoCyrl-500.woff2") format("woff2"), url("../fonts/MuseoCyrl/MuseoCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/ProximaNova/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("../fonts/ProximaNova/ProximaNova-Extrabld"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("../fonts/ProximaNova/ProximaNovaT-Thin"), url("../fonts/ProximaNova/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("../fonts/ProximaNova/ProximaNova-Light"), url("../fonts/ProximaNova/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("../fonts/ProximaNova/ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("../fonts/ProximaNova/ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("../fonts/ProximaNova/ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

body {
  background-color: #FAFAFA;
  color: #3D3D3D;
  font-size: 24px; }

.color-green {
  color: #12A89D; }

.bg-green {
  background-color: #12A89D; }

.title {
  font-family: 'Museo Cyrl 700'; }
  .title_big {
    font-size: 64px; }
  .title_medium {
    font-size: 48px; }
  .title_subtitle {
    font-size: 36px; }

.btn {
  width: 340px;
  padding: 15px 0;
  border: none;
  text-align: center;
  height: auto;
  font-size: 24px;
  text-transform: none;
  font-family: 'Montserrat'; }
  .btn_green {
    background-color: #12A89D;
    color: #fff; }
    .btn_green_fz-small {
      font-size: 18px; }

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 100px;
  line-height: 100px;
  padding: 0 30px; }

.nav-wrapper {
  display: flex;
  justify-content: space-between; }

nav li a {
  font-family: 'Proxima Nova Rg';
  color: #000;
  font-size: 18px; }

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 34px; }

.link-tel {
  font-size: 18px; }

ul:not(.browser-default) {
  padding-left: 175px; }
